#onoffice-ajax .metabox-holder .postbox-container .postbox .chosen-container .chosen-drop {
	display: grid;
}

#onoffice-ajax .metabox-holder .postbox-container .postbox .template-list input,
#onoffice-ajax .metabox-holder .postbox-container .postbox .template-list label,
#onoffice-ajax .metabox-holder .postbox-container .postbox .template-list select {
	float: none;
	margin: 4px 2px;
}

#onoffice-ajax .metabox-holder .postbox-container .postbox .template-list summary {
	margin: 5px 0;
}

#onoffice-ajax .metabox-holder .postbox-container .postbox .template-list p {
	margin-top: 0;
}

#onoffice-ajax .metabox-holder .postbox-container .postbox .template-list .oo-template-folder-path {
	color: #646970;
}

#onoffice-ajax input[name=oopluginlistviewsaddress-name],
#onoffice-ajax input[name=oopluginlistviews-name],
#onoffice-ajax input[name=oopluginforms-name] {
	font-size: 1.7em;
	padding: 3px 8px;
	width: 100%;
}

#onoffice-ajax #post-body.columns-2 input[name=oopluginlistviews-name],
#onoffice-ajax #post-body.columns-2 input[name=oopluginforms-name] {
	width: 100%;
}

#onoffice-ajax h2.hndle {
	background: #fafafa;
}

body.sticky-menu #onoffice-ajax #post-body.columns-2 #postbox-container-1 {
	width: 49%;
	margin-right: 0;
}

#onoffice-ajax #poststuff .metabox-holder.columns-2 #postbox-container-2 {
    width: 49%;
	max-width: 500px;
}

#onoffice-ajax #poststuff #post-body.columns-2 #side-sortables {
    width: 100%;
}

#onoffice-ajax #poststuff #post-body.columns-2 {
    margin-right: 0;
	max-width: 1000px;
}

#onoffice-ajax #listSettings {
	width: 49%;
	box-sizing: border-box;
}

body #onoffice-ajax span.viewusage {
	font-size: 1.2em;
	position: relative;
	margin-bottom: 20px;
	display: inline-block;
}

body #onoffice-ajax span.viewusage .italic {
	font-style: italic;
}

.fieldsSortable {
	float: right;
	min-height: 320px;
	max-width: 488px;
	background: #fff;
	width: 50%;
}

#sortableFieldsList .menu-item-bar {
	display: block;
	padding-left: 12px;
}

#sortableFieldsList .menu-item-bar > .menu-item-handle {
	max-width: 430px;
	width: 100%;
}

#sortableFieldsList .menu-item-settings {
	max-width: 440px;
	width: 100%;
}

#sortableFieldsList .menu-item-settings .submitdelete {
	text-align: right;
	display:block;
	width: 98%;
}

#listSettings .accordion-section-title:hover {
	cursor: inherit;
}

#sortableFieldsList .menu-item-settings {
	display: block;
	position: relative;
	margin-left: 12px;
	background: #fff;
	clear: both;
}

#sortableFieldsList .item-delete-link {
	padding-right: 10px;
}

#sortableFieldsList .item-delete-link:hover {
	cursor: pointer;
}

#listSettings .accordion-section-content > .inside > p {
	max-height: 200px;
	padding: 2px;
	overflow-y: auto;
}

#listSettings .accordion-section-content {
	padding: 0;
}

#sortableFieldsList .menu-item-settings-name {
	font-style: italic;
}

#listSettings p:empty {
	display: none;
}

.fieldsSortable .item-edit:before {
    margin-top: 10px;
    margin-left: 4px;
    width: 20px;
    border-radius: 50%;
    text-indent: -1px;

	content: "\f140";
    font: 400 20px/1 dashicons;
    speak: none;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none!important;
}

.fieldsSortable .item-edit {
    position: absolute;
    right: -20px;
    top: 0;
    display: block;
    width: 30px;
    height: 40px;
    outline: 0;
}

#menu-item-dummy_key {
	display: none;
}

div.fieldsSortable #sortableFieldsList div.menu-item-settings p {
	line-height: 1em;
}

div.fieldsSortable #sortableFieldsList div.menu-item-settings p span.deleteButtonLang:before {
	vertical-align: middle;
}

div.fieldsSortable #sortableFieldsList div.menu-item-settings p span.deleteButtonLang {
	color: #737373;
}

div.fieldsSortable #sortableFieldsList div.menu-item-settings p span.deleteButtonLang:before:hover {
	color: #ce8483;
}

div.fieldsSortable #sortableFieldsList div.menu-item-settings p span.deleteButtonLang:hover {
	cursor: pointer;
	color: #d43f3a;
}

body.toplevel_page_onoffice .card {
	max-width: 720px;
	display: inline-block;
	text-align: justify;
}

body.toplevel_page_onoffice #madeby {
	max-width: 720px;
	display: block;
	text-align: center;
	min-width: 255px;
	height: 20px;
	box-sizing: border-box;
	position: relative;
	top: 25px;
	color: #a0a0a0;
	font-style: italic;
}

body.toplevel_page_onoffice #madeby .heart {
	color: #d0a0a0
}

body.toplevel_page_onoffice img.logo {
	max-width: 720px;
	display: block;
	position: relative;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	background: #fff;
	box-sizing: border-box;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #e5e5e5;
}

body.toplevel_page_onoffice .card h3 {
	font-size: 1.15em;
}

.menu-item-settings div.multiselect > div.onoffice-multiselect-popup > label {
    display: block;
    min-height: 16pt;
    width: 300px;
}

div[data-name^=oopluginfieldconfigformdefaultsvalues-value].multiselect {
    width:  100%;
    margin-top: 10pt;
}

div[data-name^=oopluginfieldconfigformdefaultsvalues-value].multiselect > input.onoffice-multiselect-edit {
    position: relative;
    float: right;
}

#viewformspecific .inside{
	overflow: hidden;
}

#adminmenu #toplevel_page_onoffice .wp-menu-image img {
	height: 20px !important;
	text-align: center !important;
	line-height: 20px !important;
	display: none;
	margin: auto;
	opacity:1;
}

#toplevel_page_onoffice .wp-menu-image {
	background-image: url(../images/onOffice-Logo-screen_wp-grey.svg) ;
	background-size: 60% 60% !important;
	background-position: center center !important;
	background-repeat:no-repeat;
}
#toplevel_page_onoffice.wp-has-current-submenu .wp-menu-image {
	background-color: #fff !important;
	-webkit-mask: url(../images/onOffice-Logo-screen_wp-grey.svg) no-repeat center;
	mask: url(../images/onOffice-Logo-screen_wp-grey.svg) no-repeat center;
	width: 20px !important;
	margin-left: 8px !important;
}
#toplevel_page_onoffice:hover .wp-menu-image{
	background-color: #2271b1;
	-webkit-mask: url(../images/onOffice-Logo-screen_wp-grey.svg) no-repeat center;
	mask: url(../images/onOffice-Logo-screen_wp-grey.svg) no-repeat center;
	width: 20px !important;
	margin-left: 8px !important;
}
#onoffice-form-search-estate {
	display: flex;
	float: right;
	margin-top: -33px;
}
#onoffice-form-search-address{
	display: flex;
	float: right;
}
#onoffice-form-search-form {
	display: flex;
	float: right;
	margin-top: 20px;
}
#notice-seo {
	border: 1px solid #c3c4c7;
	border-left: 4px solid #dba617;
	background-color: #fff;
	font-size: 13px;
	line-height: 1.5;
	padding: 10px;
}

#notice-seo, .description-notice, .do-not-modify {
	margin-left: 20px;
}

#viewformspecific .hint-text {
	color: #646970;
	font-style: italic;
	text-decoration: none;
}

.do-not-modify ul {
	padding-left: 10px;
}

.do-not-modify li {
	list-style: disc;
	margin-left: 25px;
}
input#onoffice-input-submit {
	color: #2271b1;
	border-color: #2271b1;
	border-style: solid;
	border-radius: 2px;
	border-width: 1px;
}

body #post-head-content p.wp-clearfix:nth-child(1) {
	display: block !important;
}
.button.button-copy{
	display: none;
}

.memssageOnlyReference{
	text-align: right;
}

.inputFieldButton{
	margin-top: 2px;
	color: rgba(20, 20, 20, 0.685);
	transition: 0.3s;
}

.inputFieldButton:hover{
	cursor: pointer;
	color: rgb(0, 0, 0);
}

.page-option-add-form{
	display: inline-block;
	position: relative;
	top:-3px
}

.page-option-action {
	position: relative;
	border-radius: 2px;
	border: 1px solid #2271b1;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

.page-option-action summary {
	padding: 4px 8px;
	font-weight: 600;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f6f7f7;
	cursor: pointer;
	color: #2271b1;
	list-style: none;
}

.page-option-action summary div{
	padding-right:10px;
}

.page-option-action[open]{
	border-radius: 2px;
	border: 1px solid#3582c4;
	box-shadow:0px 0px 0px 1px #3582c4;
}

.page-option-action[open] summary{
	background-color: #f0f0f1;
	color:#124B75;
}

.page-option-action summary:hover{
	box-shadow:0px 0px 0px 1px #124B75;
	background-color: #f0f0f1;
	border-radius: 1px;
	color:#124B75;
}

.page-option-action[open] summary:before {
	content: '';
	border-radius: 5px;
    display: block;
    width: 100vw;
    height: 100vh;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

.page-option-action summary:after {
	content: '';
	margin-bottom: 4px;
	width: .4rem;
	height: .4rem;
	border-bottom: 2px solid #8c8f94;
	border-left: 2px solid #8c8f94;
	border-bottom-left-radius: 2px;
	transform: rotate(-45deg) translate(0%, 0%);
	transform-origin: center center;
}

.page-option-action .options-menu {
	width: max-content;
	margin-top: 4px;
	background: #fff;
	position: absolute;
	box-sizing: border-box;
	border: 1px solid #c3c4c7;
}

.options-menu li a{
	text-decoration: none;
	color: #3c434a;
}

.page-option-action .options-menu li {
	margin-bottom: 0px;
}

.options-menu li a p{
	color:#124B75;
	padding: 0px 10px;
	margin: 0;
}

.options-menu li:hover{
	background-color: rgb(46,146,249);
}

.options-menu li:hover a p{
	color:#fff;
}
@media only screen and (max-width: 782px) {
	.page-option-action summary{
		padding: 10px 15px;
		font-size: 14px;
		white-space: nowrap;
	}
}

/* new style */
.oo-poststuff .custom-input-field {
	display: flex;
	justify-content: space-between;
}

.oo-poststuff .custom-input-field > *,
.oo-poststuff .custom-input-field.custom-lable-language label,
.oo-poststuff .custom-input-field.custom-lable-language input[type="text"],
.oo-poststuff .custom-input-field.custom-lable-language select {
	width: 50%;
}

.oo-poststuff .custom-input-field input[type="checkbox"],
.oo-poststuff .custom-input-field input[type="radio"] {
	margin-left: auto;
	width: 16px;
	min-width: 16px;
	max-width: 16px;
}

.oo-poststuff .custom-input-field.custom-from-to-input {
	flex-wrap: wrap;
}

.oo-poststuff .custom-input-field.custom-from-to-input input[type="number"],
.oo-poststuff .custom-input-field.custom-from-to-input input[type="text"] {
	margin: 0 0 10px;
}

.oo-poststuff .custom-input-field.custom-label-language > span {
	width: auto !important;
}

.oo-poststuff .custom-input-field label.custom-label[for^="checkbox"] {
	width: 100%;
	display: block;
}

.oo-poststuff .custom-input-field > div.multiselect .onoffice-multiselect-popup label {
	display: flex;
	flex-direction: row-reverse;
}

.oo-poststuff .custom-input-field > div.multiselect span {
	display: flex;
	padding-right: 10px;
	line-height: 1.5rem;
}

.oo-poststuff .custom-input-field > div.multiselect input[type="button"] {
	width: auto !important;
	float: right;
}

.oo-poststuff .custom-input-field:has(div.multiselect) {
	display: block;
}

.oo-poststuff .custom-input-field div.multiselect > div.onoffice-multiselect-popup > label {
	display: flex;
	margin-bottom: 5px;
}

.oo-poststuff .custom-input-field .chosen-container-single,
.oo-poststuff .custom-input-field .chosen-container-multi {
	width: 50% !important;
}

.oo-poststuff .custom-input-field .chosen-container-single .chosen-single {
	border-color: #8c8f94;
	box-shadow: none;
	border-radius: 3px;
	padding: 0 24px 0 8px;
	min-height: 30px;
}

.oo-poststuff .custom-input-field input[name=oopluginlistviews-countryactive]:checked::before,
.oo-poststuff .custom-input-field input[name=oopluginlistviews-radiusactive]:checked::before {
	filter: brightness(0) saturate(100%) invert(35%) sepia(4%) saturate(967%) hue-rotate(170deg) brightness(91%) contrast(94%);
}

.oo-poststuff .custom-input-field input[name=oopluginlistviews-countryactive],
.oo-poststuff .custom-input-field input[name=oopluginlistviews-radiusactive] {
	pointer-events: none;
}

.sortable-tags { 
	background-color: #fff;
	list-style-type: none; 
	margin: 0; 
	width: 100%;
	margin-top: 6px;
	border: 1px solid #c3c4c7;
	display: flex;
	flex-direction: column;
}

.sortable-tags .rotate-icon {
	transform: rotate(90deg);
}

.sortable-tags .sortable-tag {
	margin: 5px;
	padding: 5px;
	background-color: #fafafa;
	cursor: pointer;
	border: 1px solid #c3c4c7;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sortable-tags .sortable-tag span {
	color: #c3c4c7;
}

#listSettings .custom-input-field,
#viewpicturetypes .custom-input-field {
	display: block;
}

#viewaccesscontrol .custom-input-field label{
	width: 100%;
}

#viewpicturetypes .custom-input-field label {
	float: left;
	max-width: 50%;
}

#viewpicturetypes .custom-input-field input {
	float: right;
	max-width: 50%;
}

.oo-poststuff .key-of-field-block {
	display: flex;
}

.oo-poststuff .custom-input-field .onoffice-input-radio {
	border-radius: 4px;
	width: 50%;
	display: grid;
	float: left;
	justify-content: initial;
	border: 1px solid #8c8f94;
}

.oo-poststuff .custom-input-field .onoffice-input-radio label {
	display: flex;
	justify-content: space-between;
	margin: 10px;
}

@media only screen and (max-width: 1365px) {
	.block-publish .postbox-header {
		display: none;
	}
}

@media only screen and (min-width: 1366px) and (max-width: 1440px) {
	.block-publish {
		max-width: 230px !important;
	}
}

@media only screen and (min-width: 1366px) {
	.oo-poststuff {
		display: block;
		width: 100%;
	}

	.oo-poststuff #post-head-content {
		max-width: 1000px;
		width: 100%;
	}

	#onoffice-ajax #poststuff #post-body.columns-2 {
		display: inline-block;
		width: 100%;
	}

	.oo-poststuff-estate-detail .viewusage {
		width: 100%;
	}

	.oo-poststuff-estate-detail .block-publish,
	.oo-poststuff-similar-estate .block-publish {
		margin-top: 0;
	}

	.block-publish {
		width: calc(100% - 1000px);
		max-width: 280px;
		min-width: 200px;
		border: 1px solid #c3c4c7;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
		background: #fff;
		display: inline-block;
		position: fixed;
		margin-left: 20px;
	}

	.block-publish .inside {
		font-size: 13px;
		margin: 0 !important;
		padding: 0 !important;
	}

	.block-publish p.submit {
		text-align: left;
		padding: 10px 10px 10px 10px;
		margin: 0 !important;
	}
}
