/* estate search */
.oo-searchform {
	margin: 0 0 25px 0;
}

.oo-searchformfieldwrap {
	display: flex;
	align-items: end;
	flex-wrap: wrap;
}

.oo-searchformfield {
	padding: 0 15px;
	margin-bottom: 15px;
	width: 33.33%;
}

.oo-searchformfield label {
	display: block;
	margin: 0;
	padding: 0;
}

.oo-searchformfield input, .oo-searchformfield button, .oo-searchformfield .multiselect {
	width: 100%;
	margin: 0 !important;
}

.oo-searchformfield input[type="checkbox"] {
	width: auto;
	margin-right: 5px;
}

.oo-searchformfield .multiselect {
	position: relative;
}

.oo-searchformfield .onoffice-multiselect-popup {
	position: absolute;
	width: 100%;
	top: 100%;
	left: 0;
	max-height: 250px;
	overflow-y: scroll;
	z-index: 999;
	background-color: #ffffff;
}

.oo-searchformfield br {
	display: none;
}

/* estate map */
.oo-estate-map {
	padding: 0 15px;
	width: 100%;
}

.oo-detailsmap {
    position: relative;
    height: auto;
}

.oo-detailsmap #map, .oo-estate-map #map {
    height: 300px !important;
}

.oo-estate-map #map .leaflet-top, .oo-estate-map #map .leaflet-bottom {
	z-index: 888;
}

/* estate sort */
.oo-estate-sort {
	padding: 15px;
}

/* listframe */
.oo-listheadline {
	padding: 10px 15px;
}

.oo-listframe {
	display: flex;
	flex-wrap: wrap;
}

/* listobject */
.oo-listobject {
	width: 33.33%;
	padding: 0 15px;
	margin: 0 0 50px 0;
}

.oo-listobjectwrap {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.25);
	transition: all 0.3s;
}

.oo-listobject:hover .oo-listobjectwrap {
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.50);
}

.oo-listimage {
	display: block;
	width: 100%;
	position: relative;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.oo-listinfo {
	padding: 10px;
}

.oo-listtitle {
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	height: 55px;
	overflow: hidden;
	color: #4a4a4a;
}

.oo-listinfotable {
	padding: 10px 0;
	font-size: 15px;
	min-height: 250px;
}

.oo-listtd {
	display: inline-block;
	width: 50%;
	border-bottom: 1px solid #efefef;
	padding: 2.5px 0;
}

.oo-detailslink a, .favorize {
	display: block;
	text-align: center;
	color: #ffffff !important;
	padding: 5px;
	background-color: #80acd3;
	transition: all 0.3s;
	text-decoration: none;
	font-size: 16px;
	font-weight: normal;
	line-height: 28px;
}

.oo-detailslink a:hover, .favorize:hover {
	opacity: 0.8;
	color: #ffffff !important;
	text-decoration: none !important;
}

.favorize {
	border: 1px solid #839fce;
	cursor: pointer;
}
/* details */
.oo-detailsheadline {
	padding: 10px 15px;
}

.oo-detailview {
	display: flex;
	flex-wrap: wrap;
}

.oo-details-main {
	width: 75%;
	padding: 0 15px;
}

.oo-detailsgallery {
	margin-bottom: 25px;
}

.oo-detailsgallery .slick-arrow {
	z-index: 999;
}

.oo-detailsgallery .slick-prev {
	left: 25px;
}

.oo-detailsgallery .slick-next {
	right: 25px;
}

.oo-detailspicture {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 400px;
}

.oo-detailstable {
	display: flex;
	flex-wrap: wrap;
}

.oo-detailslisttd {
	width: 25%;
	padding: 5px 0;
	border-bottom: 2px solid #efefef;
}

.oo-detailslisttd:nth-child(odd) {
	font-weight: 700;
}

.oo-detailsfreetext, .oo-detailsmap {
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 2px solid #efefef;
}

.oo-details-sidebar {
	width: 25%;
	padding: 0 15px;
}

.oo-asp {
	margin-bottom: 25px;
	padding-bottom: 15px;
	border-bottom: 2px solid #efefef;
}

.oo-aspname, .oo-video, .oo-detailsexpose{
	margin-bottom: 15px;
}

.oo-asplocation {
	margin-bottom: 10px;
}

.oo-contact-info {
	margin-bottom: 15px;
}

.oo-contact-info p{
	margin: 0;
}

.oo-similar {
	width: 100%;
}

#oo-similarframe {
	display: inherit;
	width: 100%;
}

#oo-similarframe .oo-listobject {
	width: inherit;
}
/* responsive */
@media only screen and (max-width: 991px) {
	.oo-listobject, .oo-searchformfield {
		width: 50%;
	}

	.oo-details-main {
		width: 100%;
	}

	.oo-details-sidebar {
		width: 50%;
	}
}

@media only screen and (max-width: 700px) {
	.oo-detailslisttd {
		width: 50%;
	}
}

@media only screen and (max-width: 575px) {
	.oo-listobject, .oo-searchformfield, .oo-details-sidebar {
		width: 100%;
	}
}
