a.estate-status {
	position: relative;
	overflow: hidden;
	display: inline-block;
}

a.estate-status > span {
    transform: rotate(-45deg);
    width: 220px;
    height: 40px;
    position: absolute;
    text-align: center;
    background-color: #ffffff;
    top: 40px;
    left: -50px;
    line-height: 18px;
    border-width: 5px 0 5px 0;
    border-style: solid;
    border-color: #a3a3a3;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0px 1px 20px -2px #000000;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 7px 25px 7px 25px;
}

input[type=submit].match {
    background-color: #559955;
}

div.multiselect[data-values="[]"] > input[type=button],
div.multiselect[data-values="{}"] > input[type=button],
div.multiselect[data-values=""] > input[type=button]{
    pointer-events: none;
    opacity: 0.7;
}