<style>
	ul.oo-listparking {
		padding: 0 10px;
	}
	.clear {
		width: 25%;
	}
</style>
<div class="oo-detailview">
			<div class="oo-detailsheadline">
			<h1>flach begrüntes Grundstück</h1>
							<span style="padding:0 15px">Zzz</span>
									</div>
		<div class="oo-details-main">
			<div class="oo-detailsgallery" id="oo-galleryslide">
				<div class="oo-detailspicture" style="background-image: url('https://image.onoffice.de/smart25/Objekte/index.php?kunde=Ivanova&#038;datensatz=52&#038;filename=Titelbild_362.jpg');"></div>
			</div>
			<div class="oo-detailstable">
				<div class="oo-detailslisttd">label-objektart</div>
<div class="oo-detailslisttd">Grundstück</div>
<div class="oo-detailslisttd">label-objekttyp</div>
<div class="oo-detailslisttd">Wohnen</div>
<div class="oo-detailslisttd">label-vermarktungsart</div>
<div class="oo-detailslisttd">Kauf</div>
<div class="oo-detailslisttd">label-plz</div>
<div class="oo-detailslisttd">52078</div>
<div class="oo-detailslisttd">label-ort</div>
<div class="oo-detailslisttd">Aachen</div>
<div class="oo-detailslisttd">label-objektnr_extern</div>
<div class="oo-detailslisttd">AP001</div>
<div class="oo-detailslisttd">label-grundstuecksflaeche</div>
<div class="oo-detailslisttd">ca. 5.400 m²</div>
<div class="oo-detailslisttd">label-kaufpreis</div>
<div class="oo-detailslisttd">80.000,00 €</div>
			</div>

							<div class="oo-detailsfreetext">
					<h2>label-objektbeschreibung</h2>
					große Freifläche				</div>
			
							<div class="oo-detailsfreetext">
					<h2>label-lage</h2>
					Das Grundstück liegt am Waldrand und ist über einen geteerten Feldweg erreichbar.				</div>
			
							<div class="oo-area-butler">
					<iframe width="100%" height="100%" src="http://areabutler.de"></iframe>
				</div>
			
			
							<div class="oo-detailsfreetext">
					<h2>label-ausstatt_beschr</h2>
					teilweise mit einer alten Mauer aus Findlingen umgeben				</div>
			
							<div class="oo-detailsfreetext">
					<h2>label-sonstige_angaben</h2>
					Vereinbaren sie noch heute einen Besichtigungstermin				</div>
			
			<div class="oo-units">
				Estate Units here			</div>
		</div>
		<div class="oo-details-sidebar">
			<div class="oo-asp">
				<h2>Contact person</h2>
									<div class="oo-aspinfo oo-contact-info"><p>Peter Parker</p></div>							</div>
			<div class="oo-asp oo-detailsexpose">
									<h2>Documents</h2>
					<a href="Document here">
						PDF expose					</a>
							</div>

			<div class="oo-asp oo-videos"><h2>Videos</h2><div class="oo-video">
							<a href="https://asd.de" title="test movie" style="color: #0073aa">test movie</a>
						</div></div><div class="oo-asp oo-tours"><h2>360° tours</h2><div class="oo-video">
							<a href="https://ogulo.de" title="test ogulo link" style="color: #0073aa">test ogulo link</a>
						</div></div><div class="oo-asp oo-objects"><h2>Objects</h2><div class="oo-video">
							<a href="https://ogulo.de" title="test ogulo link" style="color: #0073aa">test ogulo link</a>
						</div></div><div class="oo-asp oo-links"><h2>Links</h2><div class="oo-video">
							<a href="https://ogulo.de" title="test ogulo link" style="color: #0073aa">test ogulo link</a>
						</div></div>
		</div>
				<div class="oo-similar">
			Similar Estates here		</div>
	
</div>

	<div class="detail-contact-form">
		Contact Form here	</div>
<style>
	.oo-video .player-title {
		text-decoration: none;
		color: #000;
	}
</style>