includes:
    - phpstan-baseline.neon
parameters:
    level: 1
    paths:
        - config
        - plugin
        - tests
    excludePaths:
        - SDK
        - '/tmp/wordpress/'
        - 'tests/bootstrap.php'
        - 'tests/resources/'
        - 'vendor/'
        - 'templates.dist/'
    bootstrapFiles:
        - 'tests/bootstrap.php'
        - '/tmp/wordpress/wp-admin/includes/upgrade.php'
        - '/tmp/wordpress/wp-admin/includes/translation-install.php'
    scanFiles:
        - plugin.php
        - 'templates.dist/fields.php'
    ignoreErrors:
        -
            message: '#Call to an undefined method\sonOffice\\WPlugin\\Model\\FormModelBuilder\\FormModelBuilder::getInputModelDBFactory\(\).#'
            path: 'plugin/Model/FormModelBuilder/FormModelBuilder.php'