parameters:
	ignoreErrors:
		-
			message: "#^Method onOffice\\\\WPlugin\\\\Cache\\\\WPCache\\:\\:write\\(\\) should return bool but return statement is missing\\.$#"
			count: 1
			path: plugin/Cache/WPCache.php

		-
			message: "#^Variable \\$getValue on left side of \\?\\? always exists and is not nullable\\.$#"
			count: 1
			path: plugin/Controller/InputVariableReader.php

		-
			message: "#^Variable \\$submodule on left side of \\?\\? always exists and is always null\\.$#"
			count: 1
			path: plugin/Model/FormModelBuilder/FormModelBuilderSimilarEstateSettings.php

