#onoffice-ajax .metabox-holder .postbox-container .postbox p {
	display: block;
}

#onoffice-ajax .metabox-holder .postbox-container .postbox label {
	float: left;
	margin-right: 12pt;
}

#onoffice-ajax .metabox-holder .postbox-container .postbox input,
#onoffice-ajax .metabox-holder .postbox-container .postbox select {
	float: right;
}

#onoffice-ajax #post-body.columns-2  .postbox-container .postbox select {
	max-width: 160px;
}

#onoffice-ajax input[name=oopluginlistviews-name] {
	font-size: 1.7em;
	padding: 3px 8px;
	width: 100%;
}

#onoffice-ajax #post-body.columns-2 input[name=oopluginlistviews-name] {
	width: 100%;
}

#onoffice-ajax h2.hndle {
	background: #fafafa;
}

body.sticky-menu #onoffice-ajax #post-body.columns-2 #postbox-container-1 {
	width: 49%;
	margin-right: 0;
}

#onoffice-ajax #poststuff .metabox-holder.columns-2 #postbox-container-2 {
    width: 49%;
}

#onoffice-ajax #poststuff #post-body-content {
    width: 100%;
	margin: 0;
}

#onoffice-ajax #poststuff #post-body.columns-2 #side-sortables {
    width: 100%;
}

#onoffice-ajax ul.filter-fields-list > li {
	cursor: -webkit-grab; cursor:-moz-grab;
}

#onoffice-ajax ul.filter-fields-list > li:active{
	cursor: -webkit-grabbing; cursor:-moz-grabbing;
}