/* estate search */
.oo-searchform {
    margin: 0 0 25px 0;
}

.oo-searchformfieldwrap {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
}

.oo-searchformfield {
    padding: 0 15px;
    margin-bottom: 15px;
    width: 33.33%;
}

.oo-searchformfield:last-child {
    margin-top: auto;
}

.oo-searchformfield label {
    display: block;
    margin: 0;
    padding: 0;
}

.oo-form label, .oo-single-select, .oo-multi-select {
    margin-bottom: 20px;
}

.oo-single-select label, .oo-multi-select label {
    margin: 0;
}

.oo-form.validated input:invalid, .oo-form.validated .oo-single-select .is-invalid, .oo-form.validated textarea:invalid, .required.invalid:has(+ div[aria-hidden='false']) {
    border: 2px solid #DC2625;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23DC2625" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');    
    background-repeat: no-repeat;
    background-position: right 15px center;
}

.oo-form.validated input:invalid[type="checkbox"]{
    outline: 2px solid red;
}
.validated .oo-form input:invalid[type="checkbox"] ~ .error {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="%23DC2625" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M10.29 3.86L1.82 18a2 2 0 0 0 1.71 3h16.94a2 2 0 0 0 1.71-3L13.71 3.86a2 2 0 0 0-3.42 0z"></path><line x1="12" y1="9" x2="12" y2="13"></line><line x1="12" y1="17" x2="12.01" y2="17"></line></svg>');    
    background-repeat: no-repeat;
    padding-left: 30px;
 }

 .oo-form.validated textarea:required:valid,
 .oo-form.validated input:required:valid, .oo-form.validated .oo-single-select .required.has-items.ts-wrapper  {
   background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='%2328a745' d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17z'/></svg>");
   background-repeat: no-repeat;
   background-position: right 15px center;
   border: 1px solid green;
   background-size: 1.25rem;
   
 }
 
 .oo-form.validated .oo-single-select .required.has-items.ts-wrapper,  .oo-form.validated .oo-single-select .is-invalid, .oo-form.validated input:required:valid[type="date"], .oo-form.validated input:required:valid[type="number"], .oo-form.validated input:invalid[type="number"] {
    background-position: right 30px center;
}

.oo-form .error p {
    margin: 0;
}

.oo-form.oo-validated .error, .oo-form input:invalid~.oo-form.oo-validated .error{
    display: block;
}

.oo-searchformfield input, .oo-searchformfield button, .oo-searchformfield .multiselect {
    width: 100%;
    margin: 0 !important;
    line-height: 28px;
    font-size: 16px;
    outline: 1px solid rgba(0,0,0,0);
}
.oo-searchformfield input:not([id$="ts-control"]) {
    height: 48px;
}

span.oo-searchrange {
    grid-template-columns: repeat(2, 1fr);
    gap: 0 2rem;
    display: grid;
}

.oo-searchformfield input[type="checkbox"] {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}
.oo-searchformfield input[type="radio"] {
    width: auto;
}

.oo-searchformfield .multiselect {
    position: relative;
}

.oo-searchformfield .onoffice-multiselect-popup {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 999;
    background-color: #ffffff;
}

.oo-searchformfield br {
    display: none;
}

.oo-form input:focus, .oo-form textarea:focus, .oo-form select:focus, .oo-detailview a:focus, .oo-searchformfield input:focus, .ts-wrapper.focus, .ts-wrapper:focus-visible, .ts-wrapper.single.focus, .ts-wrapper.single:focus-visible, .ts-wrapper.multi.focus, .ts-wrapper.multi:focus-visible, .oo-post-nav-links a:focus {
    outline: #3d7bb1 solid 2px;
    border-color: #3d7bb1;
}

.oo-form input[type='submit'], .oo-searchformfield input[type='submit'] {
    text-align: center;
    color: #ffffff !important;
    padding: 5px;
    background-color: #3d7bb1;
    transition: all 0.3s;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #000;
    display: block;
}
.oo-form input[type='submit']:hover, .oo-searchformfield input[type='submit']:hover {
    cursor: pointer;
}

.oo-form .oo-input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.oo-form .oo-input-wrapper label:nth-child(2){
    margin-left: 20px;
}
/* estate map */
.oo-estate-map {
    padding: 0 15px;
    width: 100%;
}

.oo-detailsmap {
    position: relative;
    height: auto;
}

.oo-detailsmap #map, .oo-estate-map #map, .oo-detailsmap #gmap, .oo-estate-map #gmap  {
    height: 350px !important;
}

.oo-estate-map #map .leaflet-top, .oo-estate-map #map .leaflet-bottom {
    z-index: 888;
}

.oo-detailsmap .oo-map, .oo-estate-map .oo-map, .oo-detailsmap .oo-gmap, .oo-estate-map .oo-gmap {
    height: 350px !important;
    z-index: 0;
}

.oo-estate-map .oo-map .leaflet-top, .oo-estate-map .oo-map .leaflet-bottom {
    z-index: 888;
}

.oo-gmap .oo-infowindowtitle, .oo-map .oo-infowindowtitle {
    font-weight: 700;
    font-size: 18px;
    overflow: hidden;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.oo-gmap .oo-infowindow .oo-infowindowaddress, .oo-map .oo-infowindow .oo-infowindowaddress {
    margin-bottom: 15px;
}

/* estate sort */
.oo-estate-sort {
    padding: 15px;
}

/* listframe */
.oo-listheadline {
    padding: 10px 15px;
}

.oo-listframe {
    display: flex;
    flex-wrap: wrap;
}

/* listobject */
.oo-listobject {
    width: 33.33%;
    padding: 0 15px;
    margin: 0 0 50px 0;
}

.oo-listobjectwrap {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.oo-listobject:hover .oo-listobjectwrap {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50);
}

.oo-listimage {
    display: block;
    width: 100%;
    position: relative;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.oo-listinfo {
    padding: 10px;
}

.oo-listtitle {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height: 55px;
    overflow: hidden;
    color: #4a4a4a;
}

.oo-listinfotable {
    padding: 10px 0;
    font-size: 15px;
    min-height: 250px;
}

.oo-listtd {
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid #efefef;
    padding: 2.5px 0;
}

.oo-listtd.--highlight {
    font-weight: bold;
    color: #3d7bb1;
}

.oo-detailslink {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.oo-detailslink a, .favorize, .oo-unitslink a, .oo-leadformlink {
    display: block;
    text-align: center;
    color: #ffffff !important;
    padding: 5px;
    background-color: #3d7bb1;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

.oo-detailslink a:hover, button.favorize:hover, .oo-unitslink a:hover, .oo-form input[type='submit']:hover, .oo-leadformlink:hover, .oo-post-nav-links a:hover {
    background: #174770;
    color: #ffffff !important;
    text-decoration: none !important;
}

button.favorize:focus, .oo-details-btn:focus, .oo-leadformlink:focus, .oo-form input[type='submit']:focus, .oo-searchformfield input[type='submit']:focus {
    background: #174770;
}

.leaflet-container a.leaflet-popup-close-button:focus, .leaflet-bar a:hover, .leaflet-bar a:focus, .gm-style div:focus,  .gm-style button:focus {
    outline: 2px solid #174770;
}

/* details */
.oo-detailsheadline {
    padding: 10px 15px;
}

.oo-detailview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oo-details-main {
    width: 75%;
    padding: 0 15px;
}

.oo-detailsgallery {
    margin-bottom: 25px;
}

.oo-detailsgallery .slick-arrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    z-index: 1;
}

.oo-detailsgallery .slick-prev {
    left: 25px;
}

.oo-detailsgallery .slick-next {
    right: 25px;
}

.oo-detailsgallery .slick-next:focus .slick-next-icon, .oo-detailsgallery .slick-next:focus .slick-prev-icon, .oo-detailsgallery .slick-prev:focus .slick-next-icon, .oo-detailsgallery .slick-prev:focus .slick-prev-icon, .slick-dots li button:focus .slick-dot-icon::before
{
    color: #3d7bb1;
}


.oo-detailspicture, .oo-detailspicture.slick-slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
}

.oo-details-highlight {
    width: calc((100% - 3 * 8px) / 4);
}

.oo-details-highlights-headline {
	font-size: 22px;
    margin-bottom: 16px;
    font-weight:700;
}

.oo-details-highlights-table {
	display: flex;
	flex-wrap: wrap;
    gap:8px;
    border-bottom: 2px solid #efefef;
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.oo-details-highlight__label {
    list-style: none;
	padding: 0;
	margin: 0;
}

.oo-details-highlight__value {
    font-weight:700;
    list-style: none;
	padding: 0;
	margin: 0;
}

.oo-detailstable {
    display: flex;
    flex-wrap: wrap;
}

.oo-details-fact__label {
    list-style: none;
    font-weight:700;
    width: 25%;
    padding: 5px 0;
	margin: 0;
    border-bottom: 2px solid #efefef;
}

.oo-details-fact__value {
    list-style: none;
    width: 25%;
    padding: 5px 0;
	margin: 0;
    border-bottom: 2px solid #efefef;
}

.oo-detailsfreetext, .oo-detailsmap, .oo-area-butler, .oo-detailspricecalculator, .oo-units {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid #efefef;
}

.oo-details-sidebar {
    width: 25%;
    padding: 0 15px;
}

.oo-asp {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #efefef;
}

.oo-video {
    display: flex;
    flex-direction: column;
}

.oo-aspname, .oo-video, .oo-detailsexpose {
    margin-bottom: 15px;
}

.player-title svg {
    display: inline;
}

.oo-asplocation {
    margin-bottom: 10px;
}

.oo-contact-info, .oo-aspinfo-wrapper {
    margin-bottom: 15px;
}

.oo-contact-info img {
    height: 150px;

}
.oo-contact-info p {
    margin: 0;
}

.oo-similar {
    width: 100%;
}

#oo-similarframe {
    display: inherit;
    width: 100%;
}

#oo-similarframe .oo-listobject {
    width: inherit;
}


.oo-area-butler {
    position: relative;
    height: auto;
}

.oo-area-butler .oo-area-butler-iframe {
    height: 500px;
    width: 100%;
}

.oo-costs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.oo-costs-container .oo-donut-chart {
    width: 40%;
}

.oo-costs-container .oo-costs-overview {
    width: 55%;
}

.oo-costs-container .oo-costs-overview > div {
    margin-bottom: 5px;
}

.oo-costs-container .oo-costs-overview .oo-price-label,
.oo-costs-container .oo-costs-overview .oo-costs-item {
    display: flex;
    align-items: center;
}

.oo-costs-container .oo-costs-overview .oo-price-label {
    width: 100%;
    justify-content: space-between;
}

.oo-costs-container .oo-costs-overview .oo-total-costs-label {
    margin-left: 20px;
}

.oo-costs-notice {
    font-size: 14px;
    padding-top: 1.5rem
}

.oo-costs-container .oo-costs-overview .color-indicator {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 5px;
    flex-basis: 14px;
    flex-grow: 0;
    flex-shrink: 0;
}

.oo-details-energy-certificate {
    position: relative;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid #efefef;
}

.oo-details-energy-certificate .energy-certificate-container {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
}

.oo-details-energy-certificate .segmented-bar {
    display: flex;
    white-space: nowrap;
    align-items: flex-end;
}

.oo-details-energy-certificate .segment {
    flex: 1;
    text-align: center;
    height: 5px;
    position: relative;
    border-left: 1px solid #fff;
}

.oo-details-energy-certificate .segment:first-child {
    border-left: none;
}

.oo-details-energy-certificate .segment span {
    height: 28px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.oo-details-energy-certificate .energy-certificate-label span {
    position: absolute;
    transform: translateX(-50%);
}

.oo-details-energy-certificate .segment.selected {
    height: 34px;
}

.oo-details-energy-certificate .segment.selected span {
    color: #fff;
}

/* address list */
.oo-address-listframe .oo-address-image {
    width: 100%;
    height: auto;
}

.oo-address-listframe .oo-listtd {
    word-wrap: break-word;
}

.oo-address-listframe .oo-listinfotableview {
    display: flex;
    flex-wrap: wrap;
}

/* address map */
.oo-address-map {
    padding: 0 15px;
    width: 100%;
    margin-bottom: 15px;
}

.oo-address-map .oo-gmap, .oo-address-map .oo-map {
    height: 300px !important;
}

.oo-address-map .oo-map .leaflet-top, .oo-address-map .oo-map .leaflet-bottom {
    z-index: 888;
}

.oo-donut-chart-color0 {
    fill:#3F9DE4;
    background-color:#3F9DE4;
}

.oo-donut-chart-color1 {
    fill:#3ac411;
    background-color:#3ac411;
}
.oo-donut-chart-color2 {
    fill:#9C27B0;
    background-color:#9C27B0;
}
.oo-donut-chart-color3 {
    fill:#D81B60;
    background-color:#D81B60;
}
.oo-donut-chart-color4 {
    fill:#FEC800;
    background-color:#FEC800;
}

#TB_overlay, #TB_window { 
    z-index: 1050 !important; 
}

/* responsive */
@media only screen and (max-width: 991px) {
    .oo-listobject, .oo-searchformfield {
        width: 50%;
    }

    .oo-details-main {
        width: 100%;
    }

    .oo-details-sidebar {
        width: 50%;
    }

    .oo-costs-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .oo-costs-container .oo-donut-chart {
        width: 100%;
    }

    .oo-costs-container .oo-costs-overview {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .oo-detailslisttd {
        width: 50%;
    }
}

@media only screen and (max-width: 575px) {
    .oo-listobject, .oo-searchformfield, .oo-details-sidebar {
        width: 100%;
    }
}

.oo-units__wrapper {
    margin-bottom: 32px;
    vertical-align: top;
    caption-side: bottom;
    border-collapse: collapse;
    text-align: left;
    margin-left: 1px;
    width: 99%;
}

.oo-units__data.--empty {
    display: none;
}
 
.oo-units-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
  
.oo-units__head {
    display: none;
}

.oo-units__head .oo-units__data{
    padding-bottom: 16px;

}

.oo-units__head .oo-units__data:not(:first-child) {
    padding-left: 16px;
}

.oo-units__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.oo-units__body .oo-units__row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.oo-units__body .oo-units__data:not(.oo-unitslink):before {
    content: attr(data-label);
    min-width: 50%;
    width: 50%;
    -ms-hyphens: auto;
    hyphens: auto;
}

.oo-units__data {
    display: flex;
    padding: 0;
    gap: 16px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 8px;
} 
  
.oo-units__data.--empty {
    display: none;
}

.oo-unitslink a {
    width: 100%;
    margin-top: 8px;
}

.oo-units__data.oo-unitslink {
    padding-bottom: 0;
    border-bottom: 0;
}

@media (min-width: 768px) {
    .oo-units__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 768px) {

    .oo-details-fact__label, .oo-details-fact__value {
        width: 50%;
    }
}
@media (min-width: 1200px) {

    .oo-units__wrapper {
        margin-left: 0;
    }

    .oo-unitslink a {
        background: transparent;
        text-decoration: underline;
        color: inherit !important;
        text-align: left;
        margin: 0;
    }

    .oo-unitslink a:hover {
        opacity: 1;
        color: inherit !important;
    }

    .oo-units__body .oo-units__data:not(.oo-unitslink):before {
        content: none;
    }

    .oo-units__data.--empty {
        display: table-cell;
    }

    .oo-units__head {
        display: table-header-group;
    }

    .oo-units__head .oo-units__data{
        min-width: 7.5rem;
        text-transform: none;
    }

    .oo-units__body {
        display: table-row-group;
      }

    .oo-units__body .oo-units__row{
        display: table-row;
        box-shadow: none;
        border: none;
    }

    .oo-units__data {
        text-align: left;
        display: table-cell;
        padding: 16px 16px 16px 0;
    }

    .oo-units__body  .oo-units__data {
        border-bottom: 2px solid #efefef;}

    .oo-units__body .oo-units__data:not(:first-child), .oo-units__data--empty {
            padding-left: 16px;
    }

     .oo-units__head .oo-units__data:not(:first-child) {
        padding-left: 16px;
    }

    .oo-units__data.--empty {
      display: table-cell;
    }  
    
    .oo-units__body .oo-units__data:before {
        width: 40%;
        content: none;
    }

    .oo-units__data.oo-unitslink {
        padding-bottom: 16px;
    }
}

.ts-control {
    display: flex; 
    flex-direction: row;
    background: transparent;
    height: 48px;
    line-height: 28px;
}

.ts-dropdown, .ts-control, .ts-control input {
    font-size: inherit;
    color: inherit;
}

.oo-post-nav-links {
    text-align: center; 
}
  
.oo-post-nav-links ul {
    display: flex;
    gap: .25rem;
    align-items: center;
    justify-content: center;
    list-style: none;
}

  .oo-post-nav-links a {
    display: inline-block;
    padding: 5px 10px; 
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
  }
  
  .oo-post-nav-links .current {
    font-weight: bold; 
    color: #000;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    text-decoration: none;
  }
  
  .oo-post-nav-links {
    margin-top: 20px;
  }


.ts-wrapper.has-items .ts-control input, .ts-wrapper.single.has-items .ts-control input, .ts-wrapper.multi.has-items .ts-control input {
    width: auto;
}


.ts-dropdown .option.selected {
    font-weight: bold;
}
.ts-dropdown .option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    padding: 8px 12px;
}

.ts-wrapper .ts-control::after, .ts-wrapper.single .ts-control::after, .ts-wrapper.multi .ts-control::after {
    content: "";
    position: absolute;
    right: .5rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    height: 100%;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 1.25rem;
    mask-position: center;
    background: #3D3D3D;
}
.ts-wrapper.focus .ts-control::after, .ts-wrapper.single.focus .ts-control::after, .ts-wrapper.multi.focus .ts-control::after {
    top: 0%;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.ts-wrapper .ts-item-remove:before, .ts-wrapper.single .ts-item-remove:before, .ts-wrapper.multi .ts-item-remove:before {
    content: "";
    display: inline-block;
    width: 1.25rem;
    height: 1.25rem;
    mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M18 6 6 18'/%3E%3Cpath d='m6 6 12 12'/%3E%3C/svg%3E");
    mask-repeat: no-repeat;
    mask-size: 1.25rem;
    mask-position: center;

}

.ts-wrapper.plugin-remove_button .item .remove {
    text-decoration: none;
    vertical-align: middle;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.ts-wrapper.multi.has-items .ts-control {
    overflow: hidden;
    display: inline-block;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    padding: 6px; 
    height: 48px;
}

.plugin-checkbox_options:not(.rtl) .option input {
    min-width: 24px;
    min-height: 24px;
}