/* estate search */
.oo-searchform {
    margin: 0 0 25px 0;
}

.oo-searchformfieldwrap {
    display: flex;
    align-items: end;
    flex-wrap: wrap;
}

.oo-searchformfield {
    padding: 0 15px;
    margin-bottom: 15px;
    width: 33.33%;
}

.oo-searchformfield label {
    display: block;
    margin: 0;
    padding: 0;
}

.oo-searchformfield input, .oo-searchformfield button, .oo-searchformfield .multiselect {
    width: 100%;
    margin: 0 !important;
}

.oo-searchformfield input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}

.oo-searchformfield .multiselect {
    position: relative;
}

.oo-searchformfield .onoffice-multiselect-popup {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    max-height: 250px;
    overflow-y: scroll;
    z-index: 999;
    background-color: #ffffff;
}

.oo-searchformfield br {
    display: none;
}

/* estate map */
.oo-estate-map {
    padding: 0 15px;
    width: 100%;
}

.oo-detailsmap {
    position: relative;
    height: auto;
}

.oo-detailsmap #map, .oo-estate-map #map, .oo-detailsmap #gmap, .oo-estate-map #gmap  {
    height: 350px !important;
}

.oo-estate-map #map .leaflet-top, .oo-estate-map #map .leaflet-bottom {
    z-index: 888;
}

.oo-detailsmap .oo-map, .oo-estate-map .oo-map, .oo-detailsmap .oo-gmap, .oo-estate-map .oo-gmap {
    height: 350px !important;
}

.oo-estate-map .oo-map .leaflet-top, .oo-estate-map .oo-map .leaflet-bottom {
    z-index: 888;
}

.oo-gmap .oo-infowindowtitle, .oo-map .oo-infowindowtitle {
    font-weight: 700;
    font-size: 18px;
    overflow: hidden;
    color: #4a4a4a;
    margin-bottom: 15px;
}

.oo-gmap .oo-infowindow .oo-infowindowaddress, .oo-map .oo-infowindow .oo-infowindowaddress {
    margin-bottom: 15px;
}

/* estate sort */
.oo-estate-sort {
    padding: 15px;
}

/* listframe */
.oo-listheadline {
    padding: 10px 15px;
}

.oo-listframe {
    display: flex;
    flex-wrap: wrap;
}

/* listobject */
.oo-listobject {
    width: 33.33%;
    padding: 0 15px;
    margin: 0 0 50px 0;
}

.oo-listobjectwrap {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.oo-listobject:hover .oo-listobjectwrap {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.50);
}

.oo-listimage {
    display: block;
    width: 100%;
    position: relative;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.oo-listinfo {
    padding: 10px;
}

.oo-listtitle {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    height: 55px;
    overflow: hidden;
    color: #4a4a4a;
}

.oo-listinfotable {
    padding: 10px 0;
    font-size: 15px;
    min-height: 250px;
}

.oo-listtd {
    display: inline-block;
    width: 50%;
    border-bottom: 1px solid #efefef;
    padding: 2.5px 0;
}

.oo-listtd.--highlight {
    font-weight: bold;
    color: #80acd3;
}

.oo-detailslink a, .favorize, .oo-unitslink a {
    display: block;
    text-align: center;
    color: #ffffff !important;
    padding: 5px;
    background-color: #80acd3;
    transition: all 0.3s;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
}

.oo-detailslink a:hover, .favorize:hover, .oo-unitslink a:hover {
    opacity: 0.8;
    color: #ffffff !important;
    text-decoration: none !important;
}

.favorize {
    border: 1px solid #839fce;
    cursor: pointer;
}

/* details */
.oo-detailsheadline {
    padding: 10px 15px;
}

.oo-detailview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oo-details-main {
    width: 75%;
    padding: 0 15px;
}

.oo-detailsgallery {
    margin-bottom: 24px;
}

.oo-detailsgallery .slick-arrow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;
    z-index: 999;
}

.oo-detailsgallery .slick-prev {
    left: 25px;
}

.oo-detailsgallery .slick-next {
    right: 25px;
}

.oo-detailspicture, .oo-detailspicture.slick-slide {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 400px;
}

.oo-details-highlight {
    width: calc((100% - 3 * 8px) / 4);
}

.oo-details-highlights-headline {
	font-size: 22px;
    margin-bottom: 16px;
    font-weight:700;
}

.oo-details-highlights-table {
	display: flex;
	flex-wrap: wrap;
    gap:8px;
    border-bottom: 2px solid #efefef;
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.oo-details-highlight__label {
    list-style: none;
	padding: 0;
	margin: 0;
}

.oo-details-highlight__value {
    font-weight:700;
    list-style: none;
	padding: 0;
	margin: 0;
}

.oo-detailstable {
    display: flex;
    flex-wrap: wrap;
}

.oo-details-fact__label {
    list-style: none;
    font-weight:700;
    width: 25%;
    padding: 5px 0;
	margin: 0;
    border-bottom: 2px solid #efefef;
}

.oo-details-fact__value {
    list-style: none;
    width: 25%;
    padding: 5px 0;
	margin: 0;
    border-bottom: 2px solid #efefef;
}

.oo-detailsfreetext, .oo-detailsmap, .oo-area-butler, .oo-detailspricecalculator, .oo-units {
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid #efefef;
}

.oo-details-sidebar {
    width: 25%;
    padding: 0 15px;
}

.oo-asp {
    margin-bottom: 25px;
    padding-bottom: 15px;
    border-bottom: 2px solid #efefef;
}

.oo-aspname, .oo-video, .oo-detailsexpose {
    margin-bottom: 15px;
}

.oo-asplocation {
    margin-bottom: 10px;
}

.oo-contact-info, .oo-aspinfo-wrapper {
    margin-bottom: 15px;
}

.oo-contact-info p {
    margin: 0;
}

.oo-similar {
    width: 100%;
}

#oo-similarframe {
    display: inherit;
    width: 100%;
}

#oo-similarframe .oo-listobject {
    width: inherit;
}


.oo-area-butler {
    position: relative;
    height: auto;
}

.oo-area-butler .oo-area-butler-iframe {
    height: 500px;
    width: 100%;
}

.oo-costs-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.oo-costs-container .oo-donut-chart {
    width: 40%;
}

.oo-costs-container .oo-costs-overview {
    width: 55%;
}

.oo-costs-container .oo-costs-overview > div {
    margin-bottom: 5px;
}

.oo-costs-container .oo-costs-overview .oo-price-label,
.oo-costs-container .oo-costs-overview .oo-costs-item {
    display: flex;
    align-items: center;
}

.oo-costs-container .oo-costs-overview .oo-price-label {
    width: 100%;
    justify-content: space-between;
}

.oo-costs-container .oo-costs-overview .oo-total-costs-label {
    margin-left: 20px;
}

.oo-costs-notice {
    font-size: 14px;
    padding-top: 1.5rem
}

.oo-costs-container .oo-costs-overview .color-indicator {
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 5px;
    flex-basis: 14px;
    flex-grow: 0;
    flex-shrink: 0;
}

.oo-details-energy-certificate {
    position: relative;
    height: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: 2px solid #efefef;
}

.oo-details-energy-certificate .energy-certificate-container {
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    padding-bottom: 2rem;
}

.oo-details-energy-certificate .segmented-bar {
    display: flex;
    white-space: nowrap;
    align-items: flex-end;
}

.oo-details-energy-certificate .segment {
    flex: 1;
    text-align: center;
    height: 5px;
    position: relative;
    border-left: 1px solid #fff;
}

.oo-details-energy-certificate .segment:first-child {
    border-left: none;
}

.oo-details-energy-certificate .segment span {
    height: 28px;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.oo-details-energy-certificate .energy-certificate-label span {
    position: absolute;
    transform: translateX(-50%);
}

.oo-details-energy-certificate .segment.selected {
    height: 34px;
}

.oo-details-energy-certificate .segment.selected span {
    color: #fff;
}

/* address list */
.oo-address-listframe .oo-address-image {
    width: 100%;
    height: auto;
}

.oo-address-listframe .oo-listtd {
    word-wrap: break-word;
}

.oo-address-listframe .oo-listinfotableview {
    display: flex;
    flex-wrap: wrap;
}

/* address map */
.oo-address-map {
    padding: 0 15px;
    width: 100%;
    margin-bottom: 15px;
}

.oo-address-map .oo-gmap, .oo-address-map .oo-map {
    height: 300px !important;
}

.oo-address-map .oo-map .leaflet-top, .oo-address-map .oo-map .leaflet-bottom {
    z-index: 888;
}

.oo-donut-chart-color0 {
    fill:#3F9DE4;
    background-color:#3F9DE4;
}

.oo-donut-chart-color1 {
    fill:#3ac411;
    background-color:#3ac411;
}
.oo-donut-chart-color2 {
    fill:#9C27B0;
    background-color:#9C27B0;
}
.oo-donut-chart-color3 {
    fill:#D81B60;
    background-color:#D81B60;
}
.oo-donut-chart-color4 {
    fill:#FEC800;
    background-color:#FEC800;
}

#TB_overlay, #TB_window { 
    z-index: 1050 !important; 
}

/* responsive */
@media only screen and (max-width: 991px) {
    .oo-listobject, .oo-searchformfield {
        width: 50%;
    }

    .oo-details-main {
        width: 100%;
    }

    .oo-details-sidebar {
        width: 50%;
    }

    .oo-costs-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }

    .oo-costs-container .oo-donut-chart {
        width: 100%;
    }

    .oo-costs-container .oo-costs-overview {
        width: 100%;
    }
}

@media only screen and (max-width: 700px) {
    .oo-detailslisttd {
        width: 50%;
    }
}

@media only screen and (max-width: 575px) {
    .oo-listobject, .oo-searchformfield, .oo-details-sidebar {
        width: 100%;
    }
}

.oo-units__wrapper {
    margin-bottom: 32px;
    vertical-align: top;
    caption-side: bottom;
    border-collapse: collapse;
    text-align: left;
    margin-left: 1px;
    width: 99%;
}

.oo-units__data.--empty {
    display: none;
}
 
.oo-units-table {
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
  
.oo-units__head {
    display: none;
}

.oo-units__head .oo-units__data{
    padding-bottom: 16px;

}

.oo-units__head .oo-units__data:not(:first-child) {
    padding-left: 16px;
}

.oo-units__body {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.oo-units__body .oo-units__row {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.oo-units__body .oo-units__data:not(.oo-unitslink):before {
    content: attr(data-label);
    min-width: 50%;
    width: 50%;
    -ms-hyphens: auto;
    hyphens: auto;
}

.oo-units__data {
    display: flex;
    padding: 0;
    gap: 16px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 8px;
} 
  
.oo-units__data.--empty {
    display: none;
}

.oo-unitslink a {
    width: 100%;
    margin-top: 8px;
}

.oo-units__data.oo-unitslink {
    padding-bottom: 0;
    border-bottom: 0;
}

@media (min-width: 768px) {
    .oo-units__body {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {

    .oo-units__wrapper {
        margin-left: 0;
    }

    .oo-unitslink a {
        background: transparent;
        text-decoration: underline;
        color: inherit !important;
        text-align: left;
        margin: 0;
    }

    .oo-unitslink a:hover {
        opacity: 1;
        color: inherit !important;
    }

    .oo-units__body .oo-units__data:not(.oo-unitslink):before {
        content: none;
    }

    .oo-units__data.--empty {
        display: table-cell;
    }

    .oo-units__head {
        display: table-header-group;
    }

    .oo-units__head .oo-units__data{
        min-width: 7.5rem;
        text-transform: none;
    }

    .oo-units__body {
        display: table-row-group;
      }

    .oo-units__body .oo-units__row{
        display: table-row;
        box-shadow: none;
        border: none;
    }

    .oo-units__data {
        text-align: left;
        display: table-cell;
        padding: 16px 16px 16px 0;
    }

    .oo-units__body  .oo-units__data {
        border-bottom: 2px solid #efefef;}

    .oo-units__body .oo-units__data:not(:first-child), .oo-units__data--empty {
            padding-left: 16px;
    }

     .oo-units__head .oo-units__data:not(:first-child) {
        padding-left: 16px;
    }

    .oo-units__data.--empty {
      display: table-cell;
    }  
    
    .oo-units__body .oo-units__data:before {
        width: 40%;
        content: none;
    }

    .oo-units__data.oo-unitslink {
        padding-bottom: 16px;
    }
}