parameters:
	level: 2
	paths:
		- plugin
		- tests
	excludes_analyse:
		- SDK
		- '/tmp/wordpress/'
		- 'tests/bootstrap.php'
		- 'tests/resources/'
	autoload_files:
		- 'tests/bootstrap.php'
		- '/tmp/wordpress/wp-admin/includes/upgrade.php'
	ignoreErrors:
		-
			message: '#[a-zA-Z0-9\\_]+::__construct\(\) does not call parent constructor from [a-zA-Z0-9\\_]+#'
			path: '%currentWorkingDirectory%/tests/*Mocker.php'
		-
			message: '#Call to an undefined method [a-zA-Z0-9\\_]+::expects\(\)#'
			path: '%currentWorkingDirectory%/tests/*.php'
		-
			message: '#Call to an undefined method [a-zA-Z0-9\\_]+::method\(\)#'
			path: '%currentWorkingDirectory%/tests/*.php'
includes:
	- vendor/phpstan/phpstan/conf/bleedingEdge.neon