name: Unit tests

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: "0 13 * * 1" # Every Monday at 1PM UTC (9AM EST)

jobs:
  unittest:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['8.0']
    name: Unittest on ${{ matrix.operating-system }} with PHP version ${{ matrix.php-versions }}
    steps:
    - name: Set up MySQL
      uses: TryGhost/mysql-action@92dafb5ac9477ffe337b8ce2f762f0c38ca908ac
      with:
        mysql version: '5.7'
        mysql root password: 'testMySQLPassword123'
        collaction server: 'utf8mb4_general_ci'

    - name: Checkout from GIT
      uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        extensions: mbstring, mysqli, intl, curl #optional, setup extensions
        coverage: xdebug #optional, setup coverage driver

    - name: Check PHP Version
      run: php -v

    - name: Update Composer
      run: composer self-update --2
  
    - name: Composer install
      run: |
        composer install --no-interaction --prefer-dist --no-scripts
        composer update --lock

    - name: install svn
      run: sudo apt install subversion

    - name: Install WP Tests
      run: bash scripts/install-wp-tests.sh wordpress_test root 'testMySQLPassword123' 172.17.0.1 latest

    - name: Run unit tests
      run: |
        mkdir -p build/logs
        ./vendor/bin/phpunit --fail-on-warning --fail-on-risky --disallow-test-output --coverage-clover build/logs/clover.xml
